:root {
    interpolate-size: allow-keywords;
}

body {
    margin: 0; height: 100dvh;
    color: var(--fg-1); background-color: var(--bg-1);
}

::-webkit-scrollbar {
    background-color: var(--bg-2);
    width: .5em
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg-1);
    border-radius: .5em; border: .125em solid transparent;
    background-clip: padding-box
}
