.control {
    display: flex;
    flex-direction: column; gap: .5em;

    & > section > div > * {
        display: flex;
        flex-direction: column; gap: .5em;

        & > * {
            display: flex;
            width: fit-content;
            gap: 1em;
        }
    }

    & .arm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center; gap: .5em 1em;

        & button:last-of-type {
            transform: translateX(calc(50% + .5em))
        }
    }

    & .movement-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; gap: .5em;
    }

    & .movement-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; gap: .5em;
    }

    /* //! Good job! */
    & .telemetry {
        display: grid;
        grid-template-columns: 1 fr 1 fr 1 fr; gap: .5em;
    }
}
