@use 'sass:color';
@use './css/theme.scss';


main {
    display: flex;
    padding: .25em; height: 100%; max-height: 100%;
    gap: .125em;

    & > section,
    & > .tabs {
        min-width: 0; height: 100%;
        flex: 1 1 0px;
    }

    & > .tabs {
        display: flex;
        flex-direction: column;
        overflow: auto;

        & > nav {
            display: flex;
            padding: 0 .125em;
            position: sticky; top: 0;
            background-color: theme.$bg-1;
            flex-wrap: wrap; gap: 0 .5em;
            z-index: 2;

            & a {
                display: flex;
                padding: .25em .5em;
                border-radius: .25em .25em / .25em .25em 0 0;
                cursor: pointer;
                justify-content: center;
                user-select: none;

                & > svg { display: none }
            }

            & a[data-active] {
                background-color: theme.$bg-2;
                cursor: unset;
            }
        }

        & > div {
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            & > section { min-height: 100%; }
        }
    }
}

.ui-lock {
    display: flex;
    position: absolute; inset: 0;
    justify-content: center; align-items: center;
    background: rgba(theme.$bg-1, .5); backdrop-filter: blur(8px);
    z-index: 2;
}

main > section,
.tabs > div > section {
    padding: .5em 1em; max-height: 100%;
    background-color: theme.$bg-2;
    overflow: auto;
}

@media (max-width: 40rem) {
    main > .tabs > nav > a {
        font-size: 1.5em;
        padding: .15em 1em;

        & > svg { display: unset; }

        & > span { display: none }
    }
}

@media (max-width: 30rem) {
    main > .tabs > nav > a { padding: .15em .5em }
}

@media (max-width: 20rem) {
    main > .tabs > nav { gap: 0 }
}
